<header>
				<h1 class="logo"><a href="/">LOGO</a></h1>
				<nav class="first_level_nav" role="navigation">
					<h2 class="hide">Main Navigation</h2>

					<ul>
						<li><a href="/menu1">Menu 1</a></li>
						<li><a href="/menu2">Menu 2</a></li>
						<li><a href="/menu3">Menu 3</a></li>
					</ul>
				</nav> <!-- first_level_nav -->
			</header>