<h2>Right side</h2>

					<ul>
						<li>
							<h3>Duis at sapien lectus.</h3>
							<p>Donec a sagititis totor, et placerat ipsum. Nam iaculis libero metus, a placerat eros molestie non.</p>
						</li>
						<li>
							<h3>Integer eget magna dui.</h3>
							<p>Cras eleifend eget justo id volutpat. Nulla vel mauris vitae magna congue porttitor ut ac leo.</p>
						</li>
						<li>
							<h3>Cras eu scelerisque augue</h3>
							<p>Vestibulum lorem nibh, viverra non metus non, semper sodales eros. Proin nisi nulla, egestas dictum arcu eget, auctor tincidunt nisl. Nunc in suscipit purus.</p>
						</li>
					</ul>